.idea
venv
__pycache__
modules/categories/__pycache__
modules/categories/uipy/__pycache__
modules/home/__pycache__
modules/home/uipy/__pycache__
modules/users/__pycache__
modules/dashbord/__pycache__
modules/products/__pycache__
modules/setting/__pycache__
modules/stores/__pycache__
modules/units/__pycache__
inc/converters/__pycache__